<!DOCTYPE html>
<html ng-app="otter-extraction">
<head>
<title>Otter Extraction Demo</title>
<link rel="stylesheet" media="screen" href="/css/bootstrap.min.css">
<link rel="stylesheet" media="screen" href="/css/style.css">
<script src="/js/angular.min.js" type="text/javascript"></script>
<script src="/js/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
<script src="/js/otter-main.js" type="text/javascript"></script>
</head>
<body ng-app>
<div class="container">
  <div class="col">
    <h1>Otter Definition Extraction Demo</h1>
    <div ng-controller='SearchCtrl' class="row">
      <div class="col-md-6">
      <h2>Dictionary Term Lookup</h2>
      <h5>from a database of {{ statistics }}</h5>
      <tabset>
      <tab heading='Enter Search Term'>
      <form>
        <dl>
          <dt>Examples:</dt>
          <dd ng-repeat="example in examples">
            <a href="#" ng-click="showExample(example)">{{ example.substring(0, 20) }}...</a>
          </dd>
        </dl>
        <dl class=" " id="text_field">
          <dt><label for="text">Term:</label></dt>
          <dd>
          <textarea ng-model="model.text" id="text" name="text" rows="5" class="field span8"></textarea>
          </dd>
          <dd class="info">Required</dd>
        </dl>
        <button ng-click="submitText()" class="btn btn-default">Submit</button>
      </form>
      </tab>
      </tabset>
      </div>
      <div class="col-md-6">
      <div ng-show='working' class="spinner">
        <img src="/img/spinner.gif" />
      </div>
      <div ng-hide='working'>
        <div ng-show='errorResponse'>
          <h3>There was a problem serving your request ({{ errorResponse.status }}).</h3>
          <div class="alert alert-danger">
            {{ errorResponse.messages.join("\n") }}
          </div>
          <details>
            <summary>Stack Trace</summary>
            <p><pre>{{ errorResponse.stackTrace }}</pre></p>
          </details>
        </div>
        <div ng-show='response' ng-repeat="inputLine in response.input track by $index" class="panel">
          <div ng-show="response.failures.length">
            <h3>There were problems with your request.</h3>
            <h3>Some results can not be shown.</h3>
            <div ng-repeat="failure in response.failures" class="alert alert-danger">
              {{ failure.messages.join("\n") }}
            </div>
          </div>
          <h3>{{ inputLine.text }}</h3>
             <accordion close-others="never">
             <accordion-group ng-repeat="processor in inputLine.processors"  heading="{{ processor.name }} : {{ response.processors[processor.name] }}" is-open="{{ $first }}">
                 <dl>
                   <ul ng-repeat="result in processor.results track by $index">
                     {{ result }}
                   </ul>
                 </dl>
             </accordion-group>
             </accordion>
        </div>
      </div>
    </div>
      <details ng-show="response">
        <summary>Json Response</summary>
        <p><pre>{{ response | json }}</pre></p>
      </details>
    </div>
  </div>
</div>
</body>
</html>

