<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/relation-demo/src/main/scala/org/allenai/relation/learning/BinaryClassification.scala"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.allenai.relation.learning.BinaryClassification"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="relation-demo"/>
</launchConfiguration>
