<!-- <!DOCTYPE html>
<html>
  <head>
    <script src="app.js" type="text/javascript"></script>
    <link rel="stylesheet" href="main.css">
  </head>
  <body ng-app="app" ng-controller="AppController">
    <div class="container">

      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Relation Demo</a>
          </div>
        </div>
      </nav>

      <form name="exampleForm">
        <div class="form-group">
          <label>Input</label>
          <input
            class="form-control"
            ng-model="submit.text"
            required>
        </div>
        <button
          class="btn btn-default"
          ng-disabled="exampleForm.$invalid"
          ng-click="submitToServer()">Submit</button>
      </form>
      <div class="well submit-response" ng-if="submitResponse">
      {{submitResponse}}
        {{submitResponse}}
        {{submitResponse.kp}}
        {{submitResponse.sen}}
        <table>
        	<tr>
        		<th>Relation-Phrase</th>
        		<th>Sentence</th>
        	</tr>
        	<tr ng-repeat="res in submitResponse.sen">
        		<td>{{res}}</td>
        		<td>{{res.sen}}</td>
        	</tr>
        </table>
      </div>
    </div>
  </body>
</html>
 -->
 
 
 
<!DOCTYPE html>
<html>
  <head>
    <script src="app.js" type="text/javascript"></script>
    <link rel="stylesheet" href="main.css">
  </head>
  <body ng-app="app" ng-controller="AppController">
    <div class="container">

      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Relation Demo</a>
          </div>
        </div>
      </nav>

<!--  Given discouse-relation and a lexical seed, search associated instances; -->
      <form name="exampleForm">
        <div class="form-group">
          <label>discourse-relation</label>
          <input
            class="form-control"
            ng-model="submit.disrel"
            required>
           
           <label>key-phrase-seed</label>
           <input
           class="form-control"
           ng-model="submit.kp"
           required>
        </div>
        <button
          class="btn btn-default"
          ng-disabled="exampleForm.$invalid"
          ng-click="submitToServer()">Submit</button>
      </form>
      <div class="well" ng-if="submitResponse">
	  	<table class="table table-striped table-bordered table-hover table-condensed">
		 	<tr>
		 		<th>First Argument</th><th>Second Argument</th><th>Search Arguments</th>
		 		<tr ng-repeat="res in submitResponse">
		 			<td><a href="">{{res[0]}}</a></td>
		 			<td><a href="">{{res[1]}}</a></td>
		 			<td><button ng-click="sumitToSearchSens(res[0], res[1])">Submit</button></td>
		 			<!-- <td>
		 				<table>
		 					<tr>
		 						<th>relation-phrase</th><th>sentence</th>
		 						<tr ng-repeat="kp_sen in sensResponse">
		 							<td>{{kp_sen[0]}}</td>
		 							<td>{{kp_sen[1]}}</td>
		 						</tr>
		 					</tr>
		 				</table>
		 			</td> -->
		 		</tr>
		 	</tr>
		 </table>
      </div>
      
      <div class="well" ng-if="sensResponse">
      	<table class="table table-striped table-bordered table-hover table-condensed">
	      	<tr><th width="50%" style="text-align:center">first-argument</th><th width="50%" style="text-align:center">second-argument</th></tr>
		  	<tr><td align="center">{{argsubmit.arg1}}</td><td align="center">{{argsubmit.arg2}}</td></tr>
		</table>
	  	<table class="table table-striped table-bordered table-hover table-condensed">
	  		<tr><th style="text-align:center">relation-phrase</th><th style="text-align:center">sentence</th></tr>
			<tr ng-repeat="kp_sen in sensResponse">
				<td width="30%" align="center">{{kp_sen[0]}}</td>
				<td width="70%">{{kp_sen[1]}}</td>
			</tr>
			
		 </table>
      </div>
      
    </div>
  </body>
</html>
 