<!DOCTYPE html>
<html>
  <head>
    <script src="app.js" type="text/javascript"></script>
    <link rel="stylesheet" href="main.css">
  </head>
  <body ng-app="app" ng-controller="AppController">
	  <style>
	      .greenbutton { background: #f4f4f4; }
	      .redbutton { background: yellow; }
	  </style>
	  
	  
	  
    <div class="container">

      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
          	<a class="navbar-brand" href="#">Relation Demo</a>
          </div>
        </div>
      </nav>

<!--  Given discouse-relation and a lexical seed, search associated instances; -->
	  <nav class="navbar navbar-default" role="navigation">
	    <div class="container-fluid">
          <!-- <table  style="width:700; margin:3; border-collapse:collapse; border-spacing:3">
          	<tr>
	          	<td width=140><a href="Bootstrapping.html">Bootstrapping</a></td>
          	</tr>
          	<tr>
				<td width=140><a href="Classification.html">Relation Prediction</a></td>
          	</tr>
          </table> -->
          
          <ul>
          	<li><a href="Bootstrapping.html">Bootstrapping</a></li>
          	<li><a href="Classification.html">Relation Prediction</a></li>
          </ul>
        </div>
	  </nav>
      
    </div>
  </body>
</html>




<!-- <div >
      <h3>Checkboxes</h3>
      <p>
        The checkbox list comes from a complete array of options, the selected values are a different array.  There are two problems:
        <ul>
          <li>setting initial checkboxes ::  <strong>SOLVED</strong></li>
          <li>syncing the target with the selectors ::  <strong>SOLVED</strong></li>
        </ul>
      </p>

      <p ng-repeat="item in allOptions" class="item" id="{{item.id}}">
      {{item.id}} <input type="checkbox" ng-change="sync(bool, item)" ng-model="bool" "> Click this to sync this item with the target array.  {{item[0]}} Selected: {{bool}} 

      <h3>Final Data Array</h3>
      <pre>{{data | json}}</pre>

      <h3>All Checkboxes Array</h3>
      <pre>{{allOptions | json}}</pre>

    </div> -->
 